body {
  background-image: url(https://bit.ly/3eRRCy4);
  color: white;
  background-size: 90vh;
}
#output {
  display: none;
  background-color: aquamarine;
  background-repeat: no-repeat;
  opacity: 90%;
  color: black;
}